<!-- 404.ejs -->

<%- include('partials/header') %>
  <div class="container">
    <h1>Oops! Looks like that doesn't exist!</h1>
    <p>Click <a href="/">here</a> to go back</p>
  </div>
 
  <%- include('partials/footer') %>